<section id="diplomes" class="text-center pt-5">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="pb-4 pt-4"><i class="ion-university"></i> Mes Diplômes</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="diplomes-list">
                    <ul class="nav list-unstyled" id="diplomes-flters">
                        <li class="filter filter-active" data-filter=".deux_mille_vingt">
                            2020
                        </li>
                        <li class="filter" data-filter=".deux_mille_dix_neuf">2019</li>
                        <li class="filter" data-filter=".deux_mille_dix_huit">2018</li>
                        <li class="filter" data-filter=".deux_mille_seze">2016</li>
                    </ul>
                </div>

                <div class="diplomes-container">
                    <div class="col-lg-4 col-md-6 diplomes-thumbnail deux_mille_vingt">
                        <a class="popup-img" href="{{ asset("/images/diplome/2020/php_professionnelle.png") }}">
                            <img src="{{ asset("/images/diplome/2020/php_professionnelle.png") }}" alt="img" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 diplomes-thumbnail deux_mille_vingt">
                        <a class="popup-img" href="{{ asset("/images/diplome/2020/symfony.png") }}">
                            <img src="{{ asset("/images/diplome/2020/symfony.png") }}" alt="img" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 diplomes-thumbnail deux_mille_vingt">
                        <a class="popup-img" href="{{ asset("/images/diplome/2020/web.png") }}">
                            <img src="{{ asset("/images/diplome/2020/web.PNG") }}" alt="img" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 diplomes-thumbnail deux_mille_vingt">
                        <a class="popup-img" href="{{ asset("/images/diplome/2020/angular.png") }}">
                            <img src="{{ asset("/images/diplome/2020/angular.png") }}" alt="img" />
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 diplomes-thumbnail deux_mille_vingt">
                        <a class="popup-img" href="{{ asset("/images/diplome/2020/cnil.png") }}">
                            <img src="{{ asset("/images/diplome/2020/cnil.png") }}" alt="img" />
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 diplomes-thumbnail deux_mille_dix_neuf">
                        <a class="popup-img" href="{{ asset("/images/diplome/2019/secnum.png") }}">
                            <img src="{{ asset("/images/diplome/2019/secnum.png") }}" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 diplomes-thumbnail deux_mille_dix_huit">
                        <a class="popup-img" href="{{ asset("/images/diplome/2018/bts.png") }}">
                            <img src="{{ asset("/images/diplome/2018/bts.PNG") }}" width="100%" height="240" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 diplomes-thumbnail deux_mille_seze">
                        <a class="popup-img" href="{{ asset("/images/diplome/2016/bac.png") }}">
                            <img src="{{ asset("/images/diplome/2016/bac.PNG") }}" height="240" width="100%" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>