<section id="home">
    <div class="container text-center">
        <div class="user-box">
            <img src="{{ asset("/images/NiangPro.png") }}" alt="image de Niangpro" />
            <h3><span class="typed"></span></h3>
            <p>Développeur Web et Mobile</p>
        </div>
        <div class="social-icon">
            <h6 class="text-center">Suivez-moi sur</h6>
            <ul>
                <li>

                    <a href="{{ asset("https://github.com/NiangPro") }}" target="_blank"><i
                            class="ion-social-github"></i></a>
                </li>
                <li>
                    <a href="{{ asset("https://www.linkedin.com/in/bassirou-niang-a04694194/") }}" target="_blank"><i
                            class="ion-social-linkedin"></i></a>
                </li>
                <li>
                    <a href="{{ asset("https://twitter.com/BassirouNiang20") }}" target="_blank"><i
                            class="ion-social-twitter"></i></a>
                </li>
                <li>
                    <a href="{{ asset("https://www.instagram.com/niangdeveloppeur/") }}" target="_blank"><i
                            class="ion-social-instagram"></i></a>
                </li>
                <li>
                    <a href="{{ asset("https://web.facebook.com/BassirouNiangCodeur/") }}" target="_blank"><i
                            class="ion-social-facebook"></i></a>
                </li>
            </ul>
        </div>
        <div class="scroll-btn">
            <div class="scroll-bar">
                <a href="#apropos"><span></span></a>
            </div>
        </div>
    </div>
</section>