<section id="skill" class="container-fluid">
  <div class="container pt-4">
    <h2 class="pb-3 pt-5"><i class="ion-android-settings"></i> Compétences</h2>
  </div>
  <!-- Dev WEB -->
  <div class="container col-md-8">
    <div class="skills-bar skill-bloc">
      <h5><i class="ion-planet"></i> Développement Web</h5>
      <div class="progress">
        <div class="progress-bar anime-web" style="width: 0%"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 pt-3">
        <i class="ion-social-html5 icon-xs"></i> Hmtl5
      </div>
      <div class="col-md-4 pt-3">
        <i class="ion-social-css3 icon-xs"></i> Css3
      </div>
      <div class="col-md-4 pt-3">
        <i class="ion-social-javascript icon-xs"></i> Javascript
      </div>
      <div class="col-md-4 pt-3">
        <i class="ion-social-python icon-xs"></i> Python
      </div>
      <div class="col-md-4 pt-3">
        <i class="ion-social-wordpress icon-xs"></i> Wordpress
      </div>
      <div class="col-md-4 pt-3">
        <i class="ion-social-angular icon-xs"></i> Angular
      </div>
      <div class="col-md-4 pt-3">
        <i class="ion-social-nodejs icon-xs"></i> Nodejs
      </div>
      <div class="col-md-4 pt-3">
        <img src="{{ asset("/icons/icons8-jquery.svg") }}" alt=""
        class="avatar-xs"> Jquery
      </div>
      <div class="col-md-4 pt-3">
        <i class="ion-social-sass icon-xs"></i> Sass
      </div>
      <div class="col-md-4 pt-3">
        <img src="{{ asset("/icons/php-brands.svg") }}" alt=""
        class="avatar-xs"> Php
      </div>
      <div class="col-md-4 pt-3">
        <img src="{{ asset("/icons/symfony-brands.svg") }}" alt=""
        class="avatar-xs"> Symphony
      </div>
      <div class="col-md-4 pt-3 pb-4">
        <img src="{{ asset("/icons/java-brands.svg") }}" alt=""
        class="avatar-xs"> Java EE
      </div>
    </div>
  </div>
  <!--  DEV MOBILE -->
  <div class="container col-md-8">
    <div class="skills-bar skill-bloc">
      <h5><i class="ion-social-android"></i> Développement Mobile</h5>
      <div class="progress">
        <div class="progress-bar anime-mobile" style="width: 0%"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pt-3">
        <i class="ion-social-angular icon-xs"></i> Angular
      </div>
      <div class="col-md-3 pt-3"><i class="ion-ionic icon-xs"></i> Ionic</div>
      <div class="col-md-3 pt-3">
        <img src="{{ asset("/icons/symfony-brands.svg") }}" alt=""
        class="avatar-xs"> Symphony
      </div>
    </div>
  </div>
  <!-- DATABASE -->
  <div class="container col-md-8 pt-4">
    <div class="skills-bar skill-bloc">
      <h5>
        <img src="{{ asset("/icons/database-solid.svg") }}" alt=""
        class="avatar-xxs"> SGBD
      </h5>
      <div class="progress">
        <div class="progress-bar anime-sgbd" style="width: 0%"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pt-3">
        <img src="{{ asset("/icons/icons8-mysql-logo.svg") }}" alt=""
        class="avatar-xs"> MySQL
      </div>
      <div class="col-md-3 pt-3">
        <img src="{{ asset("/icons/icons8-12c-26.png") }}" alt=""
        class="avatar-xs"> Oracle
      </div>
      <div class="col-md-3 pt-3">
        <img src="{{ asset("/icons/icons8-postgresql.svg") }}" alt=""
        class="avatar-xs"> Postgresql
      </div>
    </div>
  </div>
  <!-- LOGICIELS -->
  <div class="container col-md-8 pt-3 pb-5">
    <div class="skills-bar skill-bloc">
      <h5>
        <img src="{{ asset("/icons/icons8-windows-client-26.png") }}" alt=""
        class="avatar-xs"> Logiciels
      </h5>
      <div class="progress">
        <div class="progress-bar anime-info" style="width: 0%"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 pt-3">
        <img src="{{ asset("/icons/icons8-adobe-photoshop.svg") }}" alt=""
        class="avatar-xs"> Photoshop
      </div>
      <div class="col-md-3 pt-3">
        <img src="{{ asset("/icons/icons8-adobe-illustrator.svg") }}" alt=""
        class="avatar-xs"> Illustrator
      </div>
      <div class="col-md-3 pt-3">
        <img src="{{ asset("/icons/Dolibarr.png") }}" alt="" class="avatar-xs">
        Dolibar
      </div>
    </div>
  </div>
</section>
