<section id="skill" class="container-fluid">
  <div class="container">
    <h2 class="pt-5"><i class="ion-android-settings"></i> Compétences</h2>
    <div class="row pt-5 pb-3">
      <div class="col-lg-6 col-md-6">
        <div class="skills-bar skill-bloc">
          <h5><i class="ion-planet"></i> Développement Web</h5>
          <div class="progress">
            <div class="progress-bar anime-web" style="width: 0%;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pt-3">
            <i class="ion-social-html5 icon-xs"></i> Hmtl5
          </div>
          <div class="col-md-4 pt-3">
            <i class="ion-social-css3 icon-xs"></i> Css3
          </div>
          <div class="col-md-4 pt-3">
            <i class="ion-social-javascript icon-xs"></i> Javascript
          </div>
          <div class="col-md-4 pt-3">
            <i class="ion-social-python icon-xs"></i> Python
          </div>
          <div class="col-md-4 pt-3">
            <i class="ion-social-wordpress icon-xs"></i> Wordpress
          </div>
          <div class="col-md-4 pt-3">
            <i class="ion-social-angular icon-xs"></i> Angular
          </div>
          <div class="col-md-4 pt-3">
            <i class="ion-social-nodejs icon-xs"></i> Nodejs
          </div>
          <div class="col-md-4 pt-3">
            <img src="{{ asset("/icons/icons8-jquery.svg") }}" alt=""
            class="avatar-xs"> Jquery
          </div>
          <div class="col-md-4 pt-3">
            <i class="ion-social-sass icon-xs"></i> Sass
          </div>
          <div class="col-md-4 pt-3">
            <img src="{{ asset("/icons/php-brands.svg") }}" alt=""
            class="avatar-xs"> Php
          </div>
          <div class="col-md-4 pt-3">
            <img src="{{ asset("/icons/symfony-brands.svg") }}" alt=""
            class="avatar-xs"> Symphony
          </div>
          <div class="col-md-4 pt-3 pb-4">
            <img src="{{ asset("/icons/java-brands.svg") }}" alt=""
            class="avatar-xs"> Java EE
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="skills-bar skill-bloc">
          <h5><i class="ion-social-android"></i> Développement Mobile</h5>
          <div class="progress">
            <div class="progress-bar anime-mobile" style="width: 0%;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 pt-3">
            <i class="ion-social-angular icon-xs"></i> Angular
          </div>
          <div class="col-md-3 pt-3">
            <i class="ion-ionic icon-xs"></i> Ionic
          </div>
          <div class="col-md-3 pt-3">
            <img src="{{ asset("/icons/symfony-brands.svg") }}" alt=""
            class="avatar-xs"> Symphony
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 pt-4">
        <div class="skills-bar skill-bloc">
          <h5>
            <img src="{{ asset("/icons/icons8-windows-client-26.png") }}" alt=""
            class="avatar-xs"> Logiciels
          </h5>
          <div class="progress">
            <div class="progress-bar anime-info" style="width: 0%;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 pt-3">
            <img src="{{ asset("/icons/icons8-adobe-photoshop.svg") }}" alt=""
            class="avatar-xs"> Photoshop
          </div>
          <div class="col-md-3 pt-3">
            <img src="{{ asset("/icons/icons8-adobe-illustrator.svg") }}" alt=""
            class="avatar-xs"> Illustrator
          </div>
          <div class="col-md-3 pt-3">
            <img src="{{ asset("/icons/Dolibarr.png") }}" alt=""
            class="avatar-xs"> Dolibar
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
